@tailwind base;
@tailwind components;
@tailwind utilities;

.echo {
  border: 3px solid purple;
  border-radius: 5px;
  animation-name: echo-ping;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.grid-adaptive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

@keyframes echo-ping {
  from {
    border-color: transparent;
  }
  to {
    border-color: purple;
  }
}
