@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  /* FONT */
  --font-body: "Raleway", sans-serif;

  /* COLOR */
  --color-primary-light: #585676;
  --color-primary: #339af0;
  --color-primary-dark: #1971c2;
  --color-accent: #ffec65;

  --color-white: #ffffff;
  --color-grey-1: #a09fb1;
  --color-grey-2: #88869d;
  --color-grey-3: #6e707a;

  /* Z-INDEX */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    351deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: var(--font-body);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: var(--font-body);
}

input {
  font-family: var(--font-body);
}
